<div class="ui container" style="padding-top:100px">
    <form class="ui form segment">
        <div class="field">
        <label>Name</label>
        {{input class="ui input" value=model.copy.name}}
    </div>
        <div class="field">
            <label>Description</label>
            {{textarea class="ui textarea" value=model.copy.description}}

        </div>
        <div class="field">
            <label>Creation Date</label>
            {{input type="date" class="ui input" value=model.copy.creationDate}}

        </div>
        <div class="field">
            <label>Due Date</label>
            {{input type="date" class="ui input" value=model.copy.dueDate}}

        </div>
        <div class="field">
            <label>Owner</label>
            <select onChange={{action "changeOwner" value="target.value"}}>
                {{#each model.developers as |dev|}}
                    <option value={{dev}}>{{dev.identity}}</option>
                {{/each}}
            </select>

        </div>
        <button class="ui green submit button" {{action "save" model}}>Validate</button>

        {{#link-to "projects"}}
            <button class="ui button">
                <i class="remove circular icon"></i>
                Cancel
            </button>
        {{/link-to}}
    </form>
</div>
{{outlet}}




